html {
    background: url(/bundles/kpi/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
body {
    background: none;
}
.container {
    background-color: white;
}
