{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Cunningsoft KPI Tool</h1>
    <img src="{{ asset('bundles/kpi/img/logo.png') }}" alt="Cunningsoft" style="float: right; margin-top: -80px; margin-right: 20px" />
</div>
{% block content %}{% endblock %}
{% endblock %}
